In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [5]:
train_data = pd.read_csv("./Data/training.csv")
test_data = pd.read_csv("./Data/testing.csv")
sample_data = pd.read_csv("./Data/sample.csv")

In [6]:
train_data.head()

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,class
0,7,4,5,3,6,1,7,8,4,1
1,6,7,8,2,4,2,7,1,5,1
2,1,9,10,7,4,8,7,1,5,1
3,8,2,2,2,3,2,3,2,2,0
4,6,3,3,3,3,3,5,3,3,0

In [7]:
train_data.describe()

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,class
count,174.000000,174.000000,174.000000,174.000000,174.000000,174.000000,174.000000,174.000000,174.000000,174.000000
mean,4.948276,3.287356,3.701149,3.143678,4.011494,2.770115,4.672414,3.045977,2.522989,0.367816
std,2.741813,2.369888,2.638597,2.097904,2.082097,2.230639,2.353607,2.295550,1.425223,0.483603
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,3.000000,2.000000,2.000000,0.000000
50%,5.000000,2.000000,2.000000,2.000000,3.000000,2.000000,5.000000,2.000000,2.000000,0.000000
75%,7.000000,5.000000,5.000000,4.000000,5.000000,2.000000,6.000000,3.000000,2.000000,1.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000

In [8]:
y_train = train_data['class']

In [9]:
train_data.columns

Index(['feature1', 'feature2', 'feature3', 'feature4', 'feature5', 'feature6',
       'feature7', 'feature8', 'feature9', 'class'],
      dtype='object')

In [10]:
X_train = train_data[['feature1', 'feature2', 'feature3', 'feature4', 'feature5', 'feature6','feature7', 'feature8', 'feature9']]

In [11]:
from sklearn.tree import DecisionTreeClassifier as dt

In [12]:
classifier = dt()
classifier.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [13]:
pred = classifier.predict(test_data)

In [14]:
sample_data.head()

   id  class
0   1      0
1   2      0
2   3      0
3   4      0
4   5      0

In [15]:
sample_data['class'] = pred

sample_data.head()

   id  class
0   1      0
1   2      0
2   3      1
3   4      0
4   5      0

In [16]:
sample_data.to_csv('SachinSatishKumar_submission.csv')